body {
    background-color: rgb(255, 255, 255);
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url("/img/drops.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header h2 {
    color: rgb(211, 127, 16);
    font-family: "Lobster", cursive;
}

.contactUs {
    opacity: .75;
}

.navbar {
    background-color: rgb(214, 167, 106);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
    height: 700px;
    size: cover;
    position: 50% 50%;
}

.row-content {
    padding: 25px;
    min-height: 150px; 
}

.textOrange {
    color: rgb(214, 167, 106);
}

.bgOrange {
    background-color: rgb(214, 167, 106);
}

.site-footer {
    padding: 20px 0; }

.contactBtn {
        color: rgb(0, 0, 0);
    }

.infoRow {
        align-content: center;
    }

.bgBlue {
    background-color: rgba(17, 48, 228, 0.75);
}

.textBlue {
    color: rgba(17, 48, 228, 0.75);
}

.linkRow {
    height: 50px;
    padding: 75px;
}

.edgeSpan {
    width: 100%;
}

.iconCard {
    overflow: hidden;
}