body {
    background-color: rgb(255, 255, 255);
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url("/img/drops.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header h2 {
    color: rgb(211, 127, 16);
    font-family: "Lobster", cursive;
}

.contactUs {
    opacity: .75;
}

.navbar {
    background-color: rgb(214, 167, 106);
}
.nav-link {
    color: rgba(17, 48, 228, 0.75);
}
.nav-link:hover {
    color: rgb(214, 167, 106);
    background-color: rgba(17, 48, 228, 0.75);
    border: 1px solid rgba(17, 48, 228, 0.75);
    font-weight: bold;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17, 48, 228, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar-toggler {
    border-color: rgba(17, 48, 228, 0.75);
  } 
.pMnone {
    padding: 0;
    margin: 0;
}
.aboutDrop {
    display: none;
    position: absolute;
    background-color: rgb(214, 167, 106);
}
.aboutUs:hover .aboutDrop {
    display: block;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
    size: cover;
    position: 50% 50%;
}

.row-content {
    padding: 25px;
    min-height: 150px; 
}

.textOrange {
    color: rgb(214, 167, 106);
}

.bgOrange {
    background-color: rgb(214, 167, 106);
}

.site-footer {
    padding: 20px 0; }

.contactBtn {
        color: rgb(0, 0, 0);
    }

.infoRow {
        align-content: center;
    }

.bgBlue {
    background-color: rgba(17, 48, 228, 0.75);
}

.textBlue {
    color: rgba(17, 48, 228, 0.75);
}

.linkRow {
    height: 50px;
    padding: 75px;
}

.edgeSpan {
    width: 100%;
}

.iconCard {
    overflow: hidden;
}


/* WELCOME PAGE STYLING */
.containerBg {
    background-image: url("/img/CommunityHands.jpg"), linear-gradient(rgb(202, 235, 252), rgb(202, 235, 252) 48%, rgb(240, 249, 253));    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

.welcomeBtn {
    transform: rotate(-28deg) translateX(50px);
    font-family: "Lobster", cursive;
}

.rowFill {
    height: 70%;
}